.full-header{
    position: relative;
    background: url("https://www.polisjerusalem.org/wp-content/uploads/laptop-computer-keyboard-technology.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}
.main-header{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
   display: flex;
   flex-direction: column; 
   justify-content: center;
   align-items: center;
   text-align: center;
   font-family: "Roboto Slab", sans-serif;
}
.main-header h1{
    color: rgb(105, 6, 6);
}
.text{
    font-size: 2rem;
    color: white;

}
.btn-main{
    border: 1px solid maroon;
    border-radius: 0;
    padding: 10px ;
    color: white;
    margin-top: 2px;
}
